mat-card {
    //max-width: 30vw;
    //max-width: 280px;
    width: calc(30% - 10px);
    display: inline-block;    
    
    //margin-left: auto;
    //margin-right: auto;
    margin: 20px;      
}
  
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}