.EmptyStylebox {
    margin: 5px;    
    width: calc(100% - 2 * 5px);    
}

.removeStyle {
    
}

.spacer{
    flex: 1 1 auto;
}

mat-form-field{
    width: 100%;
}
textarea{
    width: 100%;
    white-space: pre;
    overflow-wrap: normal;    
    overflow-x: auto; /* will make horizontal scroll-bar appear only when needed */
    scrollbar-width: thin;
}
